<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная страница</title>
</head>
<body>
    <a href="~/Home/Employees">Список сотрудников</a>
</body>
</html>
